#root {
  width: 100%;
  background-color: white;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.appWrapper {
  width: 100%;
  height: 100%;
}

.App {
  margin: 0 auto;
  min-height: 100vh;
  max-width: 1280px;
}
